{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col col-6">
             <h2>Balance ta voiture</h2>
            {{ form_start(form) }}
                <input id="bntSubmit" type="submit" value="Ajouter">
            {{ form_end(form) }}
        </div>
        <div class="col col-6">
            <img src="{{ asset('img/rondoudouflower.png') }}" style="width: 50%"/>
            <h2>Le meilleur formulaire de ta vie</h2>
        </div>
    </div>
{% endblock %}
{% block css %}
{% endblock %}